.goal-selection-container {
  width: 100%;
}

.goal-selection-container a{
  width: 320px;
  height: 200px;
  margin: 20px 20px;
  font-size: 3.5em;
  padding-top: 65px;
  border-radius: 8px;
}

.signup-title{
  font-size: 3.5em;
  margin-left: 40px;
}

.app-header {
	background-color: #337ab7;
}

.difficulty-input{
  width: 600px;
  height: 50px;
  margin-left: 40px;
  margin-top: 50px;
}

.difficulty-continue-button{
  height: 100px;
  width: 300px;
  font-size: 3.5em;
  margin-top: 50px;
  margin-left: 200px;
}
