.goal-selection-container {
  width: 100%;
}

.goal-selection-container a{
  width: 428px;
  height: 250px;
  margin: 20px 20px;
  font-size: 3.5em;
  padding-top: 85px;
  border-radius: 8px;
}

.signup-title{
  font-size: 4.5em;
  margin-left: 40px;
  margin-top: 100px;
    margin-bottom: 70px;
}

.app-header {
	background-color: #337ab7;
}

.difficulty-input{
  width: 865px;
  height: 100px;
  margin-left: 40px;
  margin-top: 50px;
}

.difficulty-continue-button{
  height: 100px;
  width: 300px;
  font-size: 3.5em;
  margin-top: 100px;
  margin-left: 320px;
}

.macro-goal-section{
  margin-top: 100px;
    font-size: 5em;
}

.life-goal-section{
  margin-top: 100px;
  font-size: 3em;
}
