<div class="container-fluid goal-selection-container">
  <h1 class='signup-title' style='margin-left: 25px !important; margin-bottom: 100px !important; '>Choose a category:</h1>
  <div>
    <div>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat1</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat2</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat3</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat4</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat14</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat15</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat5</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat6</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat7</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat9</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat16</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat17</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat10</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat11</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat12</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat13</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat18</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary">cat19</a>
    </div>
  </div>
</div>
