<style>
 .button {
 	font-size:3em;
 	padding: 20px 30px;
 	display: flex;
 	justify-content:center;
 	border: 1px solid #e4e5e5;
 	border-radius: 5px;
    font-size: 50px;
 	width:100%;
 }
 .button-container{
 	display:flex;
 	justify-content:center;
 }
 .button.selected{
 	background-color:lightblue;
 }
</style>
<div>
<div style="font-size:4.2em;padding-bottom:65px;" class="text-center">What days work for you?</div>
</div>
<div>
    <div style="padding-bottom: 65px;">
        <ul class="list-group">
            <li class="button" ng-class="{'selected': vm.monday}" ng-click="vm.monday = !vm.monday" class="list-group-item">Monday</li>
            <li class="button" ng-class="{'selected': vm.tuesday}" ng-click="vm.tuesday = !vm.tuesday" class="list-group-item">Tuesday</li>
            <li class="button" ng-class="{'selected': vm.wednesday}" ng-click="vm.wednesday = !vm.wednesday" class="list-group-item">Wednesday</li>
            <li class="button" ng-class="{'selected': vm.thursday}" ng-click="vm.thursday = !vm.thursday" class="list-group-item">Thursday</li>
            <li class="button" ng-class="{'selected': vm.friday}" ng-click="vm.friday = !vm.friday" class="list-group-item">Friday</li>
            <li class="button" ng-class="{'selected': vm.saturday}" ng-click="vm.saturday = !vm.saturday" class="list-group-item">Saturday</li>
            <li class="button" ng-class="{'selected': vm.sunday}" ng-click="vm.sunday = !vm.sunday" class="list-group-item">Sunday</li>
        </ul>
    </div>
    <div class="text-center">
        <button style="width:80%;height:90px;font-size:40px;font-weight:bold;" ui-sref="home" class="btn btn-primary">Next</button>
    </div>
</div>
