<div>
  <h1 class='signup-title'>Select a Goal:</h1>
    <div class="goal-selection-container">
      <a type="button" ui-sref="signup.category" class="btn btn-primary" style="margin-left: 38px;">Diabetes</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Lose Weight</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary" style="margin-left: 38px;">Goal 3</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Goal 4</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary" style="margin-left: 38px;">Goal 5</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Goal 6</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary" style="margin-left: 38px;">Goal 7</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Goal 8</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary" style="margin-left: 38px;">Goal 9</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Goal 10</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary" style="margin-left: 38px;">Goal 11</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Goal 12</a>
    </div>
</div>
