<div>
  <h1 class='signup-title'>Select a Goal:</h1>
  <li class="divider"></li>
    <div class="goal-selection-container">
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary" style="margin-left: 85px;">Manage Diabetes</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary" style="margin-left: 85px;">Reduce Stress</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary" style="margin-left: 85px;">Eat Healthier</a>
      <a type="button" ui-sref="signup.motivation" class="btn btn-primary" style="white-space: normal; padding-top: 55px !important; margin-left: 85px;">Manage Heart Failure</a>
    </div>
</div>
