<div class="container-fluid goal-selection-container">
  <h1>Select a Goal</h1>
  <div>
    <div>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Lose Weight</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">Diabetes</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">selection 3</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">selection 4</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">selection 5</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">selection 6</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">selection 7</a>
      <a type="button" ui-sref="signup.category" class="btn btn-primary">selection 8</a>
    </div>
  </div>
</div>
