<div>
    <h1 class="signup-title">{{vm.constants.headerText}}</div>
    <div class="goal-selection-container">
        <a type="button" ui-sref="signup.schedule" class="btn btn-primary" style="margin-left: 85px;">No time</a>
        <a type="button" ui-sref="signup.schedule" class="btn btn-primary" style="margin-left: 85px;">something</a>
        <a type="button" ui-sref="signup.schedule" class="btn btn-primary" style="margin-left: 85px;">something</a>
        <a type="button" ui-sref="signup.schedule" class="btn btn-primary" style="margin-left: 85px;">something</a>
    </div>
</div>
