<style>
    input[type=checkbox] {
        transform: scale(1.9);
    }
</style>
<div>
    <h1 style="font-size:3.7em;margin-bottom:30px;" class="text-center">{{vm.constants.headerText}}</h1>
    <ul class="list-group">
        <li ng-repeat="category in vm.constants.categoryInfo" class="list-group-item">
            <div style="text-align:center;font-size:50px;" ng-class="{rowblue:category.blue,rowgreen:category.green,rowpurple:category.purple}">&nbsp;</div>
            <ul class="list-group">
                <li style="padding:15px 15px;" ng-repeat="option in category.options" class="list-group-item">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon">
                          <input type="checkbox" aria-label="...">
                      </span>
                      <label style="font-size:35px;line-height:0.9;height:85px;" type="text" class="form-control" aria-label="...">{{option}}</label>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="text-center">
        <button style="width:80%;height:90px;font-size:40px;font-weight:bold;" class="btn btn-primary">Next</button>
    </div>
</div>
